@{
    ViewData["Title"] = "Add";
}
@model ProductViewModel

<h1>Ürün Ekleme</h1>
<div class="alert-danger" asp-validation-summary="ModelOnly"></div>

<form asp-controller="Products" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün İsmi:</label>
        @*<input type="text" />*@
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyatı:</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stoğu:</label>
        <input type="number" class="form-control" asp-for="Stock">
        <span class="text-danger" asp-validation-for="Stock"></span>
    </div>

    <div class="mb-3">
        @*<label asp-for="Color" class="form-label">Ürün Rengi:</label>
        <input class="form-control" asp-for="Color">*@

        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
            <option value="">Renk Seçiniz</option>
        </select>
        <span class="text-danger" asp-validation-for="Color"></span>
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="isPublish">
        <label class="form-check-label" asp-for="isPublish">
            Yayınlansın mı ?
        </label>
    </div>
    <div class="mb-3 mt-3">
        <span>Ürünün Satışta Kalma Süresi :</span>
        @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">
                <label class="form-check-label" asp-for="Expire" for="@(item.Value)Expire">
                    @item.Key
                </label>
            </div>
        }
        <span class="text-danger" asp-validation-for="Expire"></span>
    </div>

    <div class="form-floating">
        <textarea asp-for="Description" class="form-control" placeholder="Ürün Açıklaması"></textarea>
        <label asp-for="Description">Ürün Açıklaması</label>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PublishDate" class="form-label">Yayın Tarihi:</label>
        <input class="form-control" asp-for="PublishDate">
        <span class="text-danger" asp-validation-for="PublishDate"></span>
    </div>
    @*<div class="mb-3">
    <label asp-for="EmailAddress" class="form-label">Email Adres:</label>
    <input type="text" class="form-control" asp-for="EmailAddress">
    <span class="text-danger" asp-validation-for="EmailAddress"></span>
    </div>*@


    <div class="mb-3">
        <label for="formFileLg" class="form-label">Ürün Resmi</label>
        <input class="form-control form-control-lg" asp-for="Image" type="file">
    </div>
    <button class="btn btn-primary mt-3" type="submit">Ürün Kaydet</button>

</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}