@{
    ViewData["Title"] = "Index";
}
@model List<ProductViewModel>
<h1>Ürünler</h1>

<a class="btn btn-primary mb-3" asp-controller="products" asp-action="add">Ürün Ekle</a>
@if (TempData["status"] != null)
{
    <div class="alert-sm alert-success" role="alert">@TempData["status"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Resim</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Yayınlansın mı?</th>
            <th>Süre</th>
            <th>Açıklama</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>@item.Id</td>
                <td>
                    @if (!String.IsNullOrEmpty(item.ImagePath))
                    {
                        <img style="width:100px; height:100px;" src="/images/@(item.ImagePath)"/>
                    }
                    else
                    {
                        <img style="width:100px; height:100px;" src="/images/noimage.jpg" />
                    }
                </td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>
                    @(item.isPublish ? "Evet" : "Hayır")
                    @*@if (@item.isPublish)
                {
                <text>Evet</text>
                }
                else
                {
                <text>Hayır</text>
                }*@
                </td>
                <td>@item.Expire</td>
                <td>
                    @if (item.Description.Length > 20)
                    {
                        @item.Description.Substring(0,20)

                        <text>...</text>
                    }
                    else
                    {
                        @item.Description
                    }
                </td>
                <td><a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Sil</a></td>
                <td><a asp-controller="products" asp-action="update" asp-route-id="@item.Id">Güncelle</a></td>
                @*<td><a asp-controller="products" asp-action="getbyid" asp-route-productid="@item.Id">Ürüne Git</a></td>*@
                <td><a asp-route="product" asp-route-productid="@item.Id">Ürüne Git</a></td>
            </tr>
        }
    </tbody>

</table>

<a asp-controller="blog" asp-action="article" asp-route-name="makale-ismi" asp-route-id=2>Makaleye Git</a>
@*<a asp-controller="products" asp-action="pages" asp-route-page="1" asp-route-pagesize="3">1 sayfadan 3 ürün verilir.</a>*@

@*<a asp-controller="products" asp-action="pages" asp-route-page="2" asp-route-pagesize="3">2 sayfadan 3 ürün verilir.</a>*@

<a asp-route="productpage" asp-route-page="1" asp-route-pagesize="3">1 sayfadan 3 ürün verilir.</a>
<a asp-route="productpage" asp-route-page="2" asp-route-pagesize="3">2 sayfadan 3 ürün verilir.</a>